$theme_color_2: #555;
$text_color: #fff000;
$text_color_2: #999;

.mainPageInput {
    outline: none;
    border: none;
    padding: 7px 12px;
    box-sizing: border-box;
    width: calc(100% - 10px);
    border-radius: 30px;
    margin: 5px;
    background-color: $theme_color_2;
    color: $text_color;

    &::placeholder {
        text-align: center;
        color: $text_color_2;
    }
}