$theme-color-2: #555;
$text-color: #fff000;
$text-color-2: #999;

.main-page-input {
    outline: none;
    border: none;
    padding: 7px 12px;
    box-sizing: border-box;
    width: calc(100% - 10px);
    border-radius: 30px;
    margin: 5px;
    background-color: $theme-color-2;
    color: $text-color;

    &::placeholder {
        text-align: center;
        color: $text-color-2;
    }
}
