$text_color_2: #999;

.chatsHeader {
    display: flex;
    height: 70px;
    padding: 0 0 20px 0;
    border-bottom: 1px solid #454545;
    flex-direction: column;

    &__profileLink {
        align-self: flex-end;
        margin: 5px 10px;
        font-size: smaller;
        cursor: pointer;
        color: $text_color_2;
        
        &:hover {
            text-decoration-line: underline;
        }
    }
}
