$text_color: #fff000;

.authPageForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    min-height: 350px;
    max-width: 260px;

    &__bottomLink {
        font-size: 0.85rem;
        margin-top: 5px;
        cursor:pointer;
        transition: 0.3s;
        &:hover {
            font-size: 1.05em;
        }
    }

    &__wrapper {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content:space-between;
        align-items: center;
    }
}

#registerButton {
    margin-top: 50px;
}
