$theme-color-2: #555;

.avatar {
    min-height: 50px;
    max-height: 50px;
    min-width: 50px;
    max-width: 50px;
    border-radius: 50%;
    background-color: $theme-color-2;

    & > img {
        background-size: cover;
        height: 100%;
        max-width: 200%;
        max-height: 200%;
    }
}
