$theme_color: #444;
$text_color: #fff000;

html{
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 1px;
    background-color: $theme_color;
    color: $text_color;
    overflow: hidden;
}

body {
    margin: 0;
}

p {
    margin: 0;
}