$darker_theme: #333;

.backToMainComponent {
    width: 50px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $darker_theme;

    & > .arrowButton {
        transform: rotate(180deg);
    }
}
