.chatOptions {
    font-weight: 800;
    letter-spacing: 3px;
    height: 2em;
    width: 2em;
    padding: 0 0 0 3px;
    border-radius: 50%;
    text-align: center;
    cursor: pointer;

    &:hover, &:active {
        background-color: #555;
    }
}
