$text_color: #fff000;
$text_color_2: #999;

.formInput {
    background: none;
    border: none;
    letter-spacing: 2px;
    border-bottom: 1.5px solid #999;
    width: 100%;
    color: $text_color;
    margin-bottom: 5px;
    outline: none;

    &__label {
        align-self: flex-start;
        font-size: 0.7rem;
        color: $text_color_2;
        left: 0;
        margin: 15px 0 3px 0;

        &_incorrect {
            color: #FF2F2F;
            text-shadow: 1px 1px black;
        }
    }
}
