.chatting-area {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    width: calc(100% - 350px);
    height: calc(100vh - 40px);
    padding: 20px;
    align-items: center;
}
