$text_color: #fff000;
$text_color_2: #999;

.formButton {
    border: none;
    font: inherit;
    background-color: $text_color;
    border-radius: 8px;
    color: $text_color_2;
    width: 100%;
    padding: 7px;
    margin: 5px 0;
    cursor: pointer;

    &:hover {
        background-color: #eee111;
    }
    &:active {
        background-color: #ddd222;
    }
}
